/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
/* Header */
header {
    width: 90%;
    position: fixed;
    background-color: #fff;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
  
nav {
    flex-basis: 75%;
	display: flex;
	justify-content: space-between;
	text-align: center;

}
  
nav a {
	  color: rgba(128, 128, 128, .5);
	  font-weight: bold;
	  text-decoration: none;
	  margin-bottom: 0;
}

main {
    width: 90%;
    margin: auto;
}

.services-header-img {
    width: 100%;
}

h1, h2 {
    font-weight: bold;
    font-size: 1.5em;
}

.intro {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

section {
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 49%;
  height: auto;
  background-color: #ececec;
  border: 1px solid black;
  margin-top: 30px;
  padding: 20px;
}

.card button {
    padding: 10px;
    margin-top: 15px;
    width: 40%;
    border-radius: 8px;
    border: 1px solid #000;
    background-color: #fff;
}

.facts {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}

.facts-content {
    width: 45%;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
}

.facts-content p {
    margin-top: 30px;
}

.facts ul {
    list-style-type: disc;
    margin-top: 30px;
}

.facts ul li {
    margin: 20px;
}

.facts-img {
    width: 45%;
}

.facts-img img {
    height: 100%;
    width: 100%;
}

footer {
    text-align: center;
    padding: 50px;
}

/* Media queries */

@media only screen and (max-width: 800px) {
    header {
        flex-direction: column-reverse;
    }

    nav {
        width: 100%;
        padding-bottom: 1vh;
    }

    .logo {
        margin: 20px;
    }

    .img-wrapper {
        margin-top: 20vh;
    } 

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        
    }

    .card button {
        width: 80%;
        align-self: center;
    }

    .facts-img {
        display: none;
    }

    .facts {
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    .facts::after {
        content: "";
        background-image: url(../img/services-info.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    
    .facts-content {
        width: 90%;
        padding-right: 0;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 500px){
    header {
        width: 100%;
        position: static;
        margin: auto;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav {
        flex-direction: column;
    }

    nav a {
        padding: 3vh;
        border-top: 1px solid black;
    }

    .img-wrapper {
        margin-top: 5vh;
    } 


}